<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:allowClearUserData="false"
        android:appCategory="productivity"
        android:banner="@drawable/banner"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:description="@string/description"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:isGame="false"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.BreedHub"
        tools:targetApi="31">
        <activity
            android:name=".activities.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".activities.BreedingDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RequestsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CentreInfoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.EditInformationActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activities.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MyPetsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ContactActivity"
            android:exported="false" />
        <activity
            android:name=".activities.HelpActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AboutActivity"
            android:exported="false"
            android:theme="@style/Theme.BreedHub" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAGxso4wjswucd6jqwll7crlrAW96G_OE" />

        <activity
            android:name=".activities.SuccessActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CatInfoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RequestBreedingActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PetInformationActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.SelectBreedActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".intro.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".intro.LocationActivity"
            android:exported="false" />
        <activity
            android:name=".intro.OnBoardingActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MainActivity"
            android:exported="false" />
        <activity
            android:name=".intro.GetStartedActivity"
            android:exported="true"
            android:theme="@style/sheet">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>